
@model GymManager.Web.Models.MembershipTypeListViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeaderRight {
    @await Html.PartialAsync("~/Views/Shared/_UserHeader.cshtml")
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h3 class="mt-5">Memberships</h3>
        </div>
        <div class="col-6">
            <a asp-action="Create" class="mt-5 btn btn-outline-success float-end">Add membership</a>
        </div>
    </div>

    @await Html.PartialAsync("~/Views/Shared/_MembershipTypesTable.cshtml", Model.MembershipTypes)
</div>

